.header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding:1px;
    background:white;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#DDFBFF;
}

.ski {
    text-align: center
}

.text {
    text-align: center
}

.icon{
    width:5%
    /* display:flex;
    flex-direction: row; */
}